.fbox-col-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.fbox-col-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.fbox-row {
  display: flex;
}

.fbox-row-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fbox-row-center {
  display: flex;
  align-items: center;
}

.fbox-row-space-between {
  display: flex;
  justify-content: space-between;
}

.fbox-row-space-between-flex-end {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.gap-4px {
  gap: 4px;
}

.gap-8px {
  gap: 8px;
}

.gap-10px {
  gap: 10px;
}

.gap-12px {
  gap: 12px;
}

.gap-40px {
  gap: 40px;
}
