<div class="fbox-col-left gap-24px">
  <div class="fbox-col-left gap-8px p-relative">
    <div class="fbox-row-space-between width-100">
      <label for="question" class="label label--bold">
        {{ questionNumber().toString() }}. Question</label
      >
      <span class="btn-delete" (click)="deleteQuestionEvent.emit()"></span>
    </div>
    <input
      #questionInput
      type="text"
      class="input input__default"
      id="question"
      [value]="questionInputValue()"
      (input)="questionInputEvent.emit(questionInput.value)"
      [formControl]="questionFormControl()"
    />
    @if (
      questionFormControl().invalid &&
      (questionFormControl().dirty || questionFormControl().touched)
    ) {
      <div class="error error--question">
        @if (questionFormControl().hasError('required')) {
          <div>Text required.</div>
        }
        @if (questionFormControl().hasError('maxlength')) {
          <div>Question too long. 1200 characters are maximum.</div>
        }
        @if (questionFormControl().hasError('minlength')) {
          <div>Question too short. Three letters required.</div>
        }
      </div>
    }
  </div>
  <div>
    <div class="fbox-col-left gap-16px">
      <div class="fbox-row-space-between-center width-100">
        <span class="label label--bold">Answers</span>
        <div class="checkbox">
          <span
            class="checkbox__icon"
            [class.checked]="multipleAnswers()"
            (click)="toggleCheckbox()"
          ></span>
          <span class="checkbox__text">Allow multiple answers.</span>
        </div>
      </div>
      <div class="fbox-col-left gap-8px">
        @for (item of answers(); track item.internalId) {
          <app-new-answer
            (deleteAnswerEvent)="deleteAnswer(item.internalId)"
            [answerNumber]="item.internalId"
            [answerValue]="item.inputValue"
            (answerInputEvent)="updateAnswerInputValue(item.internalId, $event)"
          ></app-new-answer>
        }
      </div>
      <div class="fbox-row-space-between-center width-100">
        <div class="btn-add-answer" (click)="addNextAnswer()">
          <div class="fbox-col-left gap-4px">
            <div class="fbox-row-center gap-8px">
              <span>Add answer</span>
              <span class="btn-add-answer__icon"></span>
            </div>
            <div class="btn-add-answer__underline"></div>
          </div>
        </div>
        <span class="small-note">You can add up to 6 answer fields.</span>
      </div>
    </div>
  </div>
</div>
