$input-width: 419px;
$form-input-width: 1052px;
$input-answer-width: 363px;
$input-date-width: 222px;

$input-width-responsive-I: 352px;
$input-width-responsive-II: 280px;
$input-width-responsive-III: 260px;
