<div class="height-100vh fbox-row-center-center">
  <section>
    <div class="fbox-row-space-between-flex-end width-100">
      <div class="fbox-col-left">
        <p class="status status--secondary">Draft</p>
        <h2>Create new survey</h2>
      </div>
      <button routerLink="" class="cancel-btn">Cancel</button>
    </div>
    <form class="form">
      <div class="form-input-wrap">
        <div class="fbox-row-space-between width-100">
          <div class="fbox-col-left gap-8px">
            <div class="fbox-col-left gap-4px">
              <label class="label" for="name">Survey name</label>
              <div class="fbox-row-center gap-8px">
                <input class="input input-name" type="text" id="name" />
                <span class="btn-delete"></span>
              </div>
            </div>
            <div class="fbox-row-space-between width-100">
              <div class="fbox-col-left gap-4px">
                <label class="label" for="date">Set end date (optional)</label>
                <div class="fbox-row-center gap-8px">
                  <input class="input input-date" id="date" />
                  <span class="btn-delete"></span>
                </div>
              </div>
              <div class="dropdown-wrap">
                <span class="label">Choose category</span>
                <span class="btn-dropdown"></span>
              </div>
            </div>
          </div>
          <div class="fbox-col-left gap-4px">
            <label class="label" for="description">Describing text (optional)</label>
            <div class="fbox-row gap-8px">
              <input class="input input-description" type="textarea" id="description" />
              <span class="btn-delete"></span>
            </div>
          </div>
        </div>
        <div class="form-questions"></div>
      </div>
      <div class="fbox-col-right width-100">
        <button class="btn btn--primary" type="submit">Publish</button>
      </div>
    </form>
  </section>
</div>
