<div class="p-relative height-100vh width-100">
  <div class="height-100vh fbox-row-center-center section-wrap">
    <section>
      <div class="fbox-row-space-between-flex-end width-100">
        <div class="fbox-col-left">
          <p class="status status--secondary">Draft</p>
          <h2>Create new survey</h2>
        </div>
        <button routerLink="" class="form-action-btn">
          <span>Cancel</span>
          <span class="form-action-btn__close-icon"></span>
        </button>
      </div>
      <form class="fbox-col-left gap-40px" [formGroup]="surveyForm" (ngSubmit)="publishSurvey()">
        <div class="form-input-wrap">
          <div class="fbox-row width-100 gap-96px">
            <div class="fbox-col-left gap-8px">
              <div class="fbox-col-left gap-4px">
                <label class="label label--bold" for="name">Survey name</label>
                <div class="fbox-row-center gap-8px">
                  <input
                    class="input input__default"
                    type="text"
                    id="name"
                    formControlName="name"
                  />
                  <span class="btn-delete" (click)="deleteFormInput('name')"></span>
                </div>
                @if (
                  surveyForm.controls.name.invalid &&
                  (surveyForm.controls.name.dirty || surveyForm.controls.name.touched)
                ) {
                  <div class="error">
                    @if (surveyForm.controls.name.hasError('required')) {
                      <div>Name is required.</div>
                    }
                    @if (surveyForm.controls.name.hasError('minlength')) {
                      <div>Name must have at least 3 characters.</div>
                    }
                  </div>
                }
              </div>
              <div class="fbox-row-space-between width-100">
                <div class="fbox-col-left gap-4px">
                  <label class="label" for="end-date">
                    <span class="label--bold">Set end date</span>
                    <span class="label--normal"> (optional)</span>
                  </label>
                  <div class="fbox-row-center gap-8px">
                    <input class="input input__date" id="end-date" formControlName="endDate" />
                    <span class="btn-delete" (click)="deleteFormInput('endDate')"></span>
                  </div>
                  @if (
                    surveyForm.controls.endDate.invalid &&
                    (surveyForm.controls.endDate.dirty || surveyForm.controls.endDate.touched)
                  ) {
                    <div class="error">
                      @if (surveyForm.controls.endDate.hasError('pattern')) {
                        <div>Date must follow pattern: YYYY-MM-DD.</div>
                      }
                    </div>
                  }
                </div>
                <div class="p-relative">
                  <button
                    class="btn-dropdown"
                    (click)="toggleDropdown()"
                    [class.opened]="dropdownOpened()"
                    type="button"
                  >
                    <span class="label label--bold">Choose category</span>
                    <span class="btn-dropdown-icon"></span>
                  </button>
                  @if (
                    surveyForm.controls.category.invalid &&
                    (surveyForm.controls.category.dirty || surveyForm.controls.category.touched)
                  ) {
                    <div class="error">
                      @if (surveyForm.controls.category.hasError('required')) {
                        <div>Category must be selected.</div>
                      }
                    </div>
                  }
                  <div class="dropdown-selection">{{ selectedCategory }}</div>
                  <select formControlName="category" id="category" class="d-none"></select>
                  <div class="btn-dropdown-categories" [class.opened]="dropdownOpened()">
                    <option ngValue="null" class="d-none"></option>
                    <option
                      class="btn-dropdown-categories__text"
                      value="Team Activities"
                      (click)="setSelectedCategory('Team Activities')"
                    >
                      Team Activites
                    </option>
                    <option
                      class="btn-dropdown-categories__text"
                      value="Health & Wellness"
                      (click)="setSelectedCategory('Health & Wellness')"
                    >
                      Health & Wellness
                    </option>
                    <option
                      class="btn-dropdown-categories__text"
                      value="Gaming & Entertainment"
                      (click)="setSelectedCategory('Gaming & Entertainment')"
                    >
                      Gaming & Entertainment
                    </option>
                    <option
                      class="btn-dropdown-categories__text"
                      value="Education & Learning"
                      (click)="setSelectedCategory('Education & Learning')"
                    >
                      Education & Learning
                    </option>
                    <option
                      class="btn-dropdown-categories__text"
                      value="Lifestyle and Preferences"
                      (click)="setSelectedCategory('Lifestyle and Preferences')"
                    >
                      Lifestyle & Preferences
                    </option>
                    <option
                      class="btn-dropdown-categories__text"
                      value="Technonly & Innovation"
                      (click)="setSelectedCategory('Technonly & Innovation')"
                    >
                      Technology & Innovation
                    </option>
                  </div>
                </div>
              </div>
            </div>
            <div class="fbox-col-left gap-4px">
              <label class="label" for="description">
                <span class="label--bold">Describing text</span>
                <span class="label--normal"> (optional)</span>
              </label>
              <div class="fbox-row gap-8px">
                <textarea
                  class="input input__textarea"
                  rows="8"
                  id="description"
                  rows="5"
                  formControlName="description"
                ></textarea>
                <span class="btn-delete" (click)="deleteFormInput('description')"></span>
              </div>
              @if (
                surveyForm.controls.description.invalid &&
                (surveyForm.controls.description.dirty || surveyForm.controls.description.touched)
              ) {
                <div class="error">
                  @if (surveyForm.controls.description.hasError('maxlength')) {
                    <div>Description too long. 1200 characters are maximum.</div>
                  }
                </div>
              }
            </div>
          </div>
          <div class="form-questions">
            <div class="fbox-col-left gap-24px">
              <div class="fbox-col-left gap-8px">
                <div class="fbox-row-space-between width-100">
                  <label for="quest-1" class="label label--bold">1. Question</label>
                  <span class="btn-delete" (click)="deleteFormInput('firstQuestion')"></span>
                </div>
                <input type="text" class="input input__default" formControlName="firstQuestion" />
                @if (
                  surveyForm.controls.firstQuestion.invalid &&
                  (surveyForm.controls.firstQuestion.dirty ||
                    surveyForm.controls.firstQuestion.touched)
                ) {
                  <div class="error">
                    @if (surveyForm.controls.firstQuestion.hasError('required')) {
                      <div>One question is mandatory.</div>
                    }
                    @if (surveyForm.controls.firstQuestion.hasError('maxlength')) {
                      <div>Question too long. 1200 characters are maximum.</div>
                    }
                    @if (surveyForm.controls.firstQuestion.hasError('minlength')) {
                      <div>Question too short. Three letters required.</div>
                    }
                  </div>
                }
              </div>
              <div>
                <div class="fbox-col-left gap-16px">
                  <div class="fbox-row-space-between-center width-100">
                    <span class="label label--bold">Answers</span>
                    <div class="checkbox">
                      <span
                        class="checkbox__icon"
                        [class.checked]="multipleAnswers()"
                        (click)="toggleCheckbox()"
                      ></span>
                      <span class="checkbox__text">Allow multiple answers.</span>
                    </div>
                  </div>
                  <div class="fbox-col-left gap-8px">
                    <div class="fbox-row-center gap-8px">
                      <span class="answer-tag">A.</span>
                      <input class="input input__answer" type="text" />
                      <span class="btn-delete"></span>
                    </div>
                    <div class="fbox-row-center gap-8px">
                      <span class="answer-tag">B.</span>
                      <input class="input input__answer" type="text" />
                      <span class="btn-delete"></span>
                    </div>
                    @for (item of additionalAnswerIndices(); track $index) {
                      <app-new-answer
                        (deleteAnswerEvent)="deleteAnswer($index)"
                        [answerNumber]="$index + 2"
                      ></app-new-answer>
                    }
                  </div>
                  <div class="fbox-row-space-between-center width-100">
                    <div class="btn-add-answer" (click)="addNextAnswer()">
                      <div class="fbox-col-left gap-4px">
                        <div class="fbox-row-center gap-8px">
                          <span>Add answer</span>
                          <span class="btn-add-answer__icon"></span>
                        </div>
                        <div class="btn-add-answer__underline"></div>
                      </div>
                    </div>
                    <span class="small-note">You can add up to 6 answer fields.</span>
                  </div>
                </div>
              </div>
            </div>
            @for (item of additionalQuestionsIndices(); track $index) {
              <app-new-question></app-new-question>
            }
            <div>
              <button class="form-action-btn" type="button" (click)="addNextQuestion()">
                <span>Add next question</span>
                <span class="form-action-btn__circle-icon"></span>
              </button>
            </div>
          </div>
        </div>
        <div class="fbox-col-right width-100">
          <button class="btn btn--primary" type="submit">Publish</button>
        </div>
      </form>
    </section>
  </div>
  <div
    class="published-message-bg"
    (click)="navigateToPublishedSurvey()"
    [class.show]="published()"
  ></div>
  <div class="published-message" [class.show]="published()">
    <div class="fbox-row-space-between gap-64px">
      <div class="published-message__text">Your survey is now published</div>
      <div class="published-message__icon" (click)="navigateToPublishedSurvey()"></div>
    </div>
  </div>
</div>
