@use '../../styles/abstract/colors' as col;
@use '../../styles/abstract/mixins' as mx;
@use '../../styles/abstract/constants' as const;

section {
  padding: 40px 54px;
  border-radius: 5px;
  border-top-right-radius: 100px;
  background-color: col.$primary-purple;
  width: min(100%, 1166px);
  height: min(100vh, 844px);
  @include mx.d-flex(
    $flex-direction: column,
    $align-items: flex-start,
    $justify-content: flex-start,
    $gap: 40px
  );
}

h2 {
  color: #ee9236;
}

.cancel-btn {
  font-family: 'Nokora';
  color: #fefdff;
  padding: 8px 12px;
  border-radius: 10px;
  @include mx.font-size-wght(16px, 700);
  background-color: rgba(255, 183, 112, 0.3);

  &:hover {
    background-color: rgba(255, 183, 112, 0.6);
  }
}

.form-input-wrap {
  background-color: rgba(142, 112, 153, 0.16);
  width: const.$form-input-width;
  border-radius: 5px;
  border-top-right-radius: 80px;
  padding: 40px 32px;
  @include mx.d-flex($flex-direction: column, $gap: 40px);
}

.form-questions {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: calc(const.$form-input-width - const.$input-width - const.$input-width - 64px);
}

.answer-tag {
  font-family: 'Mulish';
  @include mx.font-size-wght(18px, 700);
  color: col.$bg-default;
}

.checkbox {
  @include mx.d-flex($justify-content: space-between, $gap: 8px, $align-items: flex-start);

  &__icon {
    content: url('../../../public/assets/img/checkbox_new_survery_default.svg');
    width: 15px;
    height: 15px;

    &:hover {
      cursor: pointer;
      content: url('../../../public/assets/img/checkbox_hover.svg');
    }

    &.checked {
      content: url('../../../public/assets/img/checkbox_checked.svg');
      &:hover {
        content: url('../../../public/assets/img/checkbox_hover.svg');
      }
    }
  }

  &__text {
    font-family: 'Mulish';
    @include mx.font-size-wght(12px, 400);
    color: col.$bg-default;
  }
}
