<div class="section-wrap" (click)="closeOverlayEvent.emit()">
  <div class="fbox-row-center-center min-height-100vh">
    <section (click)="preventEventBubbling($event)">
      <div class="new-survey-title-wrap">
        <div class="fbox-col-left">
          <p class="status status--secondary">Draft</p>
          <h2>Create new survey</h2>
        </div>
        <button (click)="closeOverlayEvent.emit()" class="form-action-btn">
          <span class="btn__cancel-text">Cancel</span>
          <span class="form-action-btn__close-icon"></span>
        </button>
      </div>
      <form
        class="survey-form-wrap"
        [formGroup]="surveyForm"
        (ngSubmit)="publishSurvey(this.surveyId)"
      >
        <div class="form-input-wrap">
          <div class="survey-info-wrap">
            <div class="fbox-col-left gap-8px">
              <div class="fbox-col-left gap-4px p-relative">
                <div class="form-field">
                  <label class="label label--bold form-fieled__label" for="name">Survey name</label>
                  <input
                    class="input input__default form-field__input"
                    type="text"
                    id="name"
                    formControlName="name"
                  />
                  <span
                    class="btn-delete form-field__delete"
                    (click)="deleteFormInput('name')"
                  ></span>
                </div>
                @if (
                  surveyForm.controls.name.invalid &&
                  (surveyForm.controls.name.dirty || surveyForm.controls.name.touched)
                ) {
                  <div class="error error--name">
                    @if (surveyForm.controls.name.hasError('required')) {
                      <div>Name is required.</div>
                    }
                    @if (surveyForm.controls.name.hasError('minlength')) {
                      <div>Name must have at least 3 characters.</div>
                    }
                  </div>
                }
              </div>
              <div class="date-category-wrap">
                <div class="fbox-col-left gap-4px p-relative">
                  <div class="form-field">
                    <label class="label form-fieled__label" for="end-date">
                      <span class="label--bold">Set end date</span>
                      <span class="label--normal"> (optional)</span>
                    </label>
                    <input
                      class="input input__date form-field__input"
                      id="end-date"
                      formControlName="endDate"
                    />
                    <span
                      class="btn-delete form-field__delete"
                      (click)="deleteFormInput('endDate')"
                    ></span>
                  </div>
                  @if (
                    surveyForm.controls.endDate.invalid &&
                    (surveyForm.controls.endDate.dirty || surveyForm.controls.endDate.touched)
                  ) {
                    <div class="error error--end-date">
                      @if (surveyForm.controls.endDate.hasError('pattern')) {
                        <div>Date must follow pattern: YYYY-MM-DD.</div>
                      }
                      @if (surveyForm.controls.endDate.hasError('dateInPast')) {
                        <div>Date must not be past.</div>
                      }
                    </div>
                  }
                </div>
                <div class="p-relative">
                  <button
                    class="btn-dropdown"
                    (click)="toggleDropdown()"
                    [class.opened]="dropdownOpened()"
                    type="button"
                  >
                    <span class="label label--bold">Choose category</span>
                    <span class="btn-dropdown-icon"></span>
                  </button>
                  <div class="dropdown-selection">
                    {{ surveyForm.controls.category.value ?? null }}
                  </div>
                  <div class="btn-dropdown-categories" [class.opened]="dropdownOpened()">
                    <button
                      type="button"
                      class="btn-dropdown-categories__text"
                      value="Team Activities"
                      (click)="setSelectedCategory('Team Activities')"
                    >
                      Team Activites
                    </button>
                    <button
                      type="button"
                      class="btn-dropdown-categories__text"
                      value="Health & Wellness"
                      (click)="setSelectedCategory('Health & Wellness')"
                    >
                      Health & Wellness
                    </button>
                    <button
                      type="button"
                      class="btn-dropdown-categories__text"
                      value="Gaming & Entertainment"
                      (click)="setSelectedCategory('Gaming & Entertainment')"
                    >
                      Gaming & Entertainment
                    </button>
                    <button
                      type="button"
                      class="btn-dropdown-categories__text"
                      value="Education & Learning"
                      (click)="setSelectedCategory('Education & Learning')"
                    >
                      Education & Learning
                    </button>
                    <button
                      type="button"
                      class="btn-dropdown-categories__text"
                      value="Lifestyle & Preferences"
                      (click)="setSelectedCategory('Lifestyle & Preferences')"
                    >
                      Lifestyle & Preferences
                    </button>
                    <button
                      type="button"
                      class="btn-dropdown-categories__text"
                      value="Technology & Innovation"
                      (click)="setSelectedCategory('Technology & Innovation')"
                    >
                      Technology & Innovation
                    </button>
                  </div>
                  @if (
                    surveyForm.controls.category.invalid &&
                    (surveyForm.controls.category.dirty || surveyForm.controls.category.touched)
                  ) {
                    <div class="error">
                      @if (surveyForm.controls.category.hasError('required')) {
                        <div>Category must be selected.</div>
                      }
                    </div>
                  }
                </div>
              </div>
            </div>
            <div class="fbox-col-left gap-4px p-relative">
              <div class="form-field">
                <label class="label form-fieled__label" for="description">
                  <span class="label--bold">Describing text</span>
                  <span class="label--normal"> (optional)</span>
                </label>
                <textarea
                  class="input input__textarea form-field__input"
                  rows="8"
                  id="description"
                  rows="5"
                  formControlName="description"
                ></textarea>
                <span
                  class="btn-delete form-field__delete"
                  (click)="deleteFormInput('description')"
                ></span>
              </div>
              @if (
                surveyForm.controls.description.invalid &&
                (surveyForm.controls.description.dirty || surveyForm.controls.description.touched)
              ) {
                <div class="error error-name">
                  @if (surveyForm.controls.description.hasError('maxlength')) {
                    <div>Description too long. 1200 characters are maximum.</div>
                  }
                </div>
              }
            </div>
          </div>
          <div class="form-questions scrollbar">
            @for (question of questionFormArray.controls; track question) {
              <app-new-question
                (deleteQuestionEvent)="deleteQuestion($index)"
                [questionNumber]="$index + 1"
                [questionForm]="question"
              ></app-new-question>
            }
            <div class="add-question-btn-wrap">
              <button class="form-action-btn" type="button" (click)="addNextQuestion()">
                <span>Add next question</span>
                <span class="form-action-btn__circle-icon"></span>
              </button>
              <div class="small-note">You can add up to 6 questions.</div>
            </div>
          </div>
        </div>
        <div class="publish-btn-wrap">
          <button class="btn btn--primary" type="submit">Publish</button>
        </div>
      </form>
    </section>
  </div>
  <div
    class="published-message-bg"
    (click)="navigateToPublishedSurvey(this.surveyId)"
    [class.show]="published()"
  ></div>
  <div class="published-message" [class.show]="published()">
    <div class="fbox-row-space-between gap-64px">
      <div class="published-message__text">Your survey is now published</div>
      <div class="published-message__icon" (click)="navigateToPublishedSurvey(this.surveyId)"></div>
    </div>
  </div>
</div>
