@use '../../styles/abstract/colors' as col;
@use '../../styles/abstract/mixins' as mx;
@use '../../styles/abstract/constants' as const;

section {
  position: relative;
  padding: 40px 54px;
  border-radius: 5px;
  border-top-right-radius: 100px;
  background-color: col.$primary-purple;
  width: min(100%, 1166px);
  min-height: 844px;
  @include mx.d-flex(
    $flex-direction: column,
    $align-items: flex-start,
    $justify-content: flex-start,
    $gap: 40px
  );
}

h2 {
  color: #ee9236;
}

.form-action-btn {
  font-family: 'Nokora';
  color: #fefdff;
  padding: 8px 12px;
  border-radius: 10px;
  @include mx.font-size-wght(16px, 700);
  background-color: rgba(255, 183, 112, 0.3);
  display: flex;
  gap: 12px;
  align-items: center;

  &:hover {
    background-color: rgba(255, 183, 112, 0.6);
  }

  &__close-icon {
    width: 13px;
    height: 13px;
    content: url('../../../public/assets/img/close.svg');
  }

  &__circle-icon {
    width: 24px;
    height: 24px;
    content: url('../../../public/assets/img/add_circle_white.svg');
  }
}

.form-input-wrap {
  background-color: rgba(142, 112, 153, 0.16);
  width: const.$form-input-width;
  border-radius: 5px;
  border-top-right-radius: 80px;
  padding: 40px 32px;
  @include mx.d-flex($flex-direction: column, $gap: 64px);
}

.form-questions {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 24px;
  column-gap: 96px;
}

.answer-tag {
  font-family: 'Mulish';
  @include mx.font-size-wght(18px, 700);
  color: col.$bg-default;
}

.checkbox {
  @include mx.d-flex($justify-content: space-between, $gap: 8px, $align-items: flex-start);

  &__icon {
    content: url('../../../public/assets/img/checkbox_new_survery_default.svg');
    width: 15px;
    height: 15px;

    &:hover {
      cursor: pointer;
      content: url('../../../public/assets/img/checkbox_hover.svg');
    }

    &.checked {
      content: url('../../../public/assets/img/checkbox_checked.svg');
      &:hover {
        content: url('../../../public/assets/img/checkbox_hover.svg');
      }
    }
  }

  &__text {
    font-family: 'Mulish';
    @include mx.font-size-wght(12px, 400);
    color: col.$bg-default;
  }
}

.btn-add-answer {
  font-family: 'Nokora';
  color: col.$bg-default;
  font-size: 16px;
  background-color: col.$primary-purple;
  padding: 8px 12px;
  width: 146px;

  &:hover {
    background-color: rgba(250, 245, 254, 0.2);
    cursor: pointer;
  }

  &__icon {
    content: url('../../../public/assets/img/add_circle.svg');
    width: 16px;
    height: 16px;
  }

  &__underline {
    border-bottom: 1px solid col.$bg-default;
    width: 100%;
  }
}

.published-message {
  position: absolute;
  z-index: 2;
  top: -90%;
  left: 50%;
  opacity: 0;
  background-color: #fee9d4;
  padding: 36px;
  border-radius: 5px;
  border-top-right-radius: 50px;
  transform: translate(-50%, -50%);
  transition: all 1000ms ease-out;

  &__text {
    color: col.$primary-purple;
    font-family: 'Nerko_One';
    letter-spacing: 2%;
    @include mx.font-size-wght(24px, 400);
  }

  &__icon {
    width: 14px;
    height: 14px;
    content: url('../../../public/assets/img/close_purple.svg');

    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
  }

  &.show {
    opacity: 1;
    top: 50%;
    left: 50%;
    z-index: 30;
  }
}

.published-message-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #35273a;
  opacity: 0;
  z-index: 1;
  transition: all 300ms ease-out;

  &.show {
    opacity: 0.6;
    top: 0;
    z-index: 20;
  }
}

.section-wrap {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 10;
}
