@use '../../styles/abstract/colors' as col;
@use '../../styles/abstract/mixins' as mx;
@use '../../styles/abstract/constants' as const;

section {
  width: min(100%, 1218px);
  padding: 40px 110px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

.logo {
  width: 120px;
  height: 44px;
  &:hover {
    cursor: pointer;
  }
}

.survey {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
  background-color: rgba(142, 112, 153, 0.1);
  border-top-right-radius: 160px;
  padding: 40px;
  min-width: 702px;

  &__date-category-wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__headline {
    font-family: 'Nerko_One';
    color: col.$h2-orange;
    @include mx.font-size-wght(56px, 400);
    line-height: 50px;
  }

  &__text {
    color: col.$primary-purple;
    @include mx.font-size-wght(16px, 500);
    font-family: 'Mulish';
  }
}

.survey-questions-wrap {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 40px;
  row-gap: 24px;
}

.survey__question {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  font-family: 'Mulish';
  color: col.$primary-purple;

  &--headline {
    @include mx.font-size-wght(18px, 700);
    display: flex;
    gap: 4px;
  }

  &--subline {
    @include mx.font-size-wght(12px, 400);
  }
}

.survey__answer {
  padding-left: 8px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  font-family: 'Mulish';
  width: 100%;

  &:hover {
    background-color: col.$tertiary-orange;
    cursor: pointer;
  }

  &--checkbox {
    content: url('../../../public/assets/img/checkbox_default.svg');
    padding-top: 3px;
    padding-right: 8px;

    &.checked {
      content: url('../../../public/assets/img/checkbox_checked.svg');
    }
  }

  &--selector {
    @include mx.font-size-wght(16px, 700);
  }

  &--text {
    @include mx.font-size-wght(16px, 400);
  }
}

.results {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 16px;

  &__headline {
    font-family: 'Nerko_One';
    @include mx.font-size-wght(32px, 400);

    &--default {
      color: #221227;
    }

    &--addition {
      color: col.$primary-orange;
    }
  }

  &__question {
    font-family: 'Mulish';
    @include mx.font-size-wght(18px, 700);
    color: col.$primary-purple;
  }

  &__answer {
    font-family: 'Mulish';
    position: relative;
    min-width: 315px;

    &--selector {
      @include mx.font-size-wght(12px, 700);
      color: col.$primary-purple;
      position: absolute;
      left: 0;
    }

    &--number {
      @include mx.font-size-wght(12px, 800);
      color: #d79451;
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  &__progress-bar {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 14px;
    position: relative;

    &--bg {
      background-color: #ededed;
      width: 255px;
      position: absolute;
      left: 20px;
    }

    &--progress {
      background-color: col.$primary-orange;
      width: 97px;
      position: absolute;
      top: 0;
      left: 20px;
    }
  }
}
