<div class="p-relative">
  <div class="form-field">
    <span class="answer-tag form-field__decorator"
      >{{ this.surveyService.getSelectorByNumber(this.answerNumber()) }}.</span
    >
    <input
      class="input input__answer form-field__input"
      type="text"
      [formControl]="answerControl()"
    />
    <span class="btn-delete form-field__delete" (click)="deleteAnswerEvent.emit()"></span>
  </div>
  @if (answerControl().invalid && (answerControl().dirty || answerControl().touched)) {
    <div class="error error--answer">
      @if (answerControl().hasError('required')) {
        <div>Text required.</div>
      }
      @if (answerControl().hasError('maxlength')) {
        <div>Answer too long. Limited to 512 chrachters.</div>
      }
    </div>
  }
</div>
