@use './styles/abstract/main' as abs;
@use './styles/base/main' as base;
@use './styles/layout/main' as layout;

* {
  box-sizing: border-box;
  margin: 0;
}

$primary-purple: #35273a;
$primary-orange: #ffb770;
$secondary-orange: #ffcfa1;
$bg-card: #faf5fe;

.bg-purple {
  background-color: $primary-purple;
}

.bg-beige {
  background-color: $bg-card;
}

.btn {
  padding: 12px 16px;
  border-radius: 10px;
  @include abs.d-flex($gap: 10px);
  font-family: 'Nokora';
  @include abs.font(18px, 700);

  &--primary {
    color: #221227;
    background-color: $secondary-orange;

    &:hover {
      background-color: $primary-orange;
    }
  }

  &--secondary {
    color: #ffffff;
    background-color: $primary-orange;
    opacity: 0.3;
    font-size: 16px;

    &:hover {
      opacity: 0.6;
    }
  }

  &--tertiary {
    color: #ffffff;
    font-size: 16px;
    background-color: $primary-purple;
  }
}
