<div class="center-content bg-purple">
  <div class="max-width-1440px">
    <section>
      <img src="assets/img/logo_orange.svg" alt="PollApp logo" />
      <div class="title">
        <div class="title__text-wrap">
          <h1 class="title__headline">
            Collect Feedback, <br />
            Unlock Ideas
          </h1>
          <p class="title__subline">
            Create and share surveys in minutes - from team events to workplace culture. Collect
            opinious, engage your audience, <br />
            and turn feedback into action.
          </p>
          <button class="title__btn btn btn--primary">New survey</button>
        </div>
        <img class="title__img" src="assets/img/title_img.svg" alt="Poll App image" />
      </div>
      <div class="your-surveys"></div>
    </section>
  </div>
</div>
