<div class="center-content bg-purple">
  <div class="max-width-1440px">
    <section>
      <img src="assets/img/logo_orange.svg" alt="PollApp logo" />
      <div class="title">
        <div class="title__text-wrap">
          <h1 class="title__headline">
            Collect Feedback, <br />
            Unlock Ideas
          </h1>
          <p class="title__subline">
            Create and share surveys in minutes - from team events to workplace culture. Collect
            opinious, engage your audience, <br />
            and turn feedback into action.
          </p>
          <button routerLink="new-survey/" class="title__btn btn btn--primary">
            <span>New survey</span>
            <span class="btn__add-circle"></span>
          </button>
        </div>
        <img class="title__img" src="assets/img/title_img.svg" alt="Poll App image" />
      </div>
      <div class="surveys">
        <h2>Your surveys</h2>
        <div class="surveys__ending-soon-wrap">
          <p class="surveys__ending-soon-text">Ending soon surveys</p>
          <div class="surveys__cards-wrap">
            <div routerLink="survey-results" class="surveys__card">
              <div>
                <p class="surveys__card--category">Team activities</p>
                <p class="surveys__card--title">Let's Plan the Next Team Event Together</p>
              </div>
              <p class="surveys__card--days-left">Ends in 1 Day</p>
            </div>
            <div routerLink="survey-results" class="surveys__card">
              <div>
                <p class="surveys__card--category">Health & Wellness</p>
                <p class="surveys__card--title">Fit & wellness survey!</p>
              </div>
              <p class="surveys__card--days-left">Ends in 2 Days</p>
            </div>
            <div routerLink="survey-results" class="surveys__card">
              <div>
                <p class="surveys__card--category">Gaming & Entertainment</p>
                <p class="surveys__card--title">Gaming habits and favourite games!</p>
              </div>
              <p class="surveys__card--days-left">Ends in 3 Days</p>
            </div>
          </div>
        </div>
        <div class="survey-list">
          <div class="survey-list__filter-wrap">
            <div class="survey-list__filter-btn-wrap">
              <button class="survey-list__filter-btn survey-list__filter-btn active">
                Active survey
              </button>
              <button class="survey-list__filter-btn survey-list__filter-btn">Past survey</button>
            </div>
            <div class="p-relative">
              <button class="btn-dropdown">
                <span class="survey-list__sort-dropdown">Sort by categories</span>
                <span class="btn-dropdown-icon"></span>
              </button>
              <div class="btn-dropdown-categories">
                <option class="btn-dropdown-categories__text">Team Activites</option>
                <option class="btn-dropdown-categories__text">Health & Wellness</option>
                <option class="btn-dropdown-categories__text">Gaming & Entertainment</option>
                <option class="btn-dropdown-categories__text">Education & Learning</option>
                <option class="btn-dropdown-categories__text">Lifestyle & Preferences</option>
                <option class="btn-dropdown-categories__text">Technology & Innovation</option>
              </div>
            </div>
          </div>
          <div class="survey-list__cards-wrap">
            <div routerLink="survey-results" class="survey-list__card">
              <div class="fbox-col-left gap-8px">
                <p class="survey-list__card--category">Team activities</p>
                <p class="survey-list__card--title">Let's Plan the Next Team Event Together</p>
              </div>
              <div class="width-100 fbox-col-right">
                <p class="survey-list__card--days-left">Ends in 1 Day</p>
              </div>
            </div>
            <div routerLink="survey-results" class="survey-list__card">
              <div class="fbox-col-left gap-8px">
                <p class="survey-list__card--category">Team activities</p>
                <p class="survey-list__card--title">Let's Plan the Next Team Event Together</p>
              </div>
              <div class="width-100 fbox-col-right">
                <p class="survey-list__card--days-left">Ends in 1 Day</p>
              </div>
            </div>
            <div routerLink="survey-results" class="survey-list__card">
              <div class="fbox-col-left gap-8px">
                <p class="survey-list__card--category">Team activities</p>
                <p class="survey-list__card--title">Let's Plan the Next Team Event Together</p>
              </div>
              <div class="width-100 fbox-col-right">
                <p class="survey-list__card--days-left">Ends in 1 Day</p>
              </div>
            </div>
            <div routerLink="survey-results" class="survey-list__card">
              <div class="fbox-col-left gap-8px">
                <p class="survey-list__card--category">Team activities</p>
                <p class="survey-list__card--title">Let's Plan the Next Team Event Together</p>
              </div>
              <div class="width-100 fbox-col-right">
                <p class="survey-list__card--days-left">Ends in 1 Day</p>
              </div>
            </div>
            <div routerLink="survey-results" class="survey-list__card">
              <div class="fbox-col-left gap-8px">
                <p class="survey-list__card--category">Team activities</p>
                <p class="survey-list__card--title">Let's Plan the Next Team Event Together</p>
              </div>
              <div class="width-100 fbox-col-right">
                <p class="survey-list__card--days-left">Ends in 1 Day</p>
              </div>
            </div>
            <div routerLink="survey-results" class="survey-list__card">
              <div class="fbox-col-left gap-8px">
                <p class="survey-list__card--category">Team activities</p>
                <p class="survey-list__card--title">Let's Plan the Next Team Event Together</p>
              </div>
              <div class="width-100 fbox-col-right">
                <p class="survey-list__card--days-left">Ends in 1 Day</p>
              </div>
            </div>
            <div routerLink="survey-results" class="survey-list__card">
              <div class="fbox-col-left gap-8px">
                <p class="survey-list__card--category">Team activities</p>
                <p class="survey-list__card--title">Let's Plan the Next Team Event Together</p>
              </div>
              <div class="width-100 fbox-col-right">
                <p class="survey-list__card--days-left">Ends in 1 Day</p>
              </div>
            </div>
            <div routerLink="survey-results" class="survey-list__card">
              <div class="fbox-col-left gap-8px">
                <p class="survey-list__card--category">Team activities</p>
                <p class="survey-list__card--title">Let's Plan the Next Team Event Together</p>
              </div>
              <div class="width-100 fbox-col-right">
                <p class="survey-list__card--days-left">Ends in 1 Day</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
