@use '../../styles/abstract/colors' as col;
@use '../../styles/abstract/mixins' as mx;

section {
  min-height: 100vh;
  padding: 40px 110px;
  @include mx.d-flex(
    $flex-direction: column,
    $justify-content: flex-start,
    $align-items: flex-start,
    $gap: 90px
  );
}

.title {
  @include mx.d-flex($gap: 32px, $align-items: flex-start);

  &__text-wrap {
    @include mx.d-flex(
      $flex-direction: column,
      $align-items: flex-start,
      $justify-content: flex-start,
      $gap: 40px
    );
  }

  &__headline {
    font-family: 'Nerko_One';
    color: col.$primary-orange;
    @include mx.font-size-wght(100px, 400);
    line-height: 89px;
  }

  &__subline {
    font-family: 'Mulish';
    color: #ffffff;
    @include mx.font-size-wght(24px, 600);
    line-height: 120%;
  }

  &__img {
    width: 426px;
    height: 420px;
  }
}

.surveys {
  width: 100%;
  padding: 0 80px;
  @include mx.d-flex(
    $flex-direction: column,
    $justify-content: flex-start,
    $align-items: center,
    $gap: 32px
  );

  &__ending-soon-wrap {
    width: 100%;
    @include mx.d-flex(
      $flex-direction: column,
      $justify-content: flex-start,
      $align-items: flex-start,
      $gap: 32px
    );
  }

  &__ending-soon-text {
    color: #ffffff;
    font-family: 'Mulish';
    @include mx.font-size-wght(32px, 500);
  }

  &__cards-wrap {
    width: 100%;
    @include mx.d-flex($justify-content: space-between);
  }

  &__card {
    height: 310px;
    width: 321px;
    padding: 40px 40px 50px 40px;
    border-top-right-radius: 80px;
    background-color: col.$bg-card;
    font-family: 'Mulish';
    @include mx.d-flex(
      $flex-direction: column,
      $justify-content: space-between,
      $align-items: flex-start
    );

    &:hover {
      background-color: #f4e9fb;
    }

    &--category {
      @include mx.font-size-wght(14px, 600);
    }

    &--title {
      @include mx.font-size-wght(26px, 700);
      line-height: 120%;
    }

    &--days-left {
      @include mx.font-size-wght(12px, 500);
      color: col.$primary-purple;
      background-color: col.$secondary-orange;
      border-top-right-radius: 14px;
      padding: 3px 6px;
    }
  }
}

.survey-list {
  width: 100%;
  @include mx.d-flex(
    $flex-direction: column,
    $justify-content: flex-start,
    $align-items: flex-start,
    $gap: 40px
  );

  &__filter-wrap {
    width: 100%;
    @include mx.d-flex($justify-content: space-between);
  }

  &__filter-btn-wrap {
    @include mx.d-flex($gap: 24px);
  }

  &__filter-btn {
    background-color: #fee9d4;
    padding: 2px 10px;
    border-radius: 20px;
    color: col.$primary-purple;

    &:hover {
      background-color: col.$secondary-orange;
    }

    &.active {
      background-color: col.$primary-orange;
    }
  }

  &__sort-dropdown {
    color: #ffffff;
    font-family: 'Mulish';
  }

  &__cards-wrap {
    display: grid;
    grid-template-columns: auto auto;
    gap: 16px;
  }

  &__card {
    width: 513px;
    height: 127px;
    border-radius: 5px;
    border-top-right-radius: 50px;
    padding: 12px 20px;
    font-family: 'Mulish';
    @include mx.d-flex(
      $flex-direction: column,
      $align-items: flex-start,
      $justify-content: flex-start,
      $gap: 24px
    );
    background-color: rgba(217, 217, 217, 0.08);

    &:hover {
      background-color: rgba(217, 217, 217, 0.16);
    }

    &--category {
      color: col.$secondary-orange;
      @include mx.font-size-wght(16px, 500);
    }

    &--title {
      color: #ffffff;
      @include mx.font-size-wght(24px, 700px);
    }

    &--days-left {
      @include mx.font-size-wght(12px, 500);
      color: col.$primary-purple;
      background-color: col.$secondary-orange;
      border-top-right-radius: 14px;
      padding: 3px 6px;
    }
  }
}
